mixin sLookingFor(data)
	// start sLookingFor
	+b.SECTION.sLookingFor.section#sLookingFor&attributes(attributes)
		.container
			+b.section-title
				h2 Узнайте #[span себя]
				
			table
				mixin tr(t, i)
					tr
						td  
							.h4!= t
							+img(`img/sLookingFor-i-${i}.svg`)
						td 
							block
				+tr('Я новичок в трейдинге, хочу научиться зарабатывать на финансовых рынках.', 1)
					p.strong Авторский алгоритм управления портфелем торговых роботов  на основе профит-фактора.

					p Нейробот автоматически мониторит каждого робота в портфеле и предупредит Вас, если нужно отключить конкретного робота и заменить на нового. Вы получите уведомление в Телеграм.

				+tr('Мне интересна тема  торговых роботов', 2)
					p.strong Нейробот использует 3 уровня автоматической защиты капитала: риск на сделку, риск на стратегию и риск на депозит.

					p Каждый уровень риска настраивается в соответствии с планируемой доходностью и Вашим риск-профилем.
				+tr('Я уже зарабатываю  с помощью торговых роботов', 3)
					p Тогда Вы понимаете, что лучший единственный способ обеспечить стабильность и высокую прибыльность – это диверсификация.

					p Роботы, торгующие на разных рынках, с разными типами стратегий, вместе будут приносить деньги надежно и постоянно.

					p Добавьте новый тип торговой стратегии - нейронную сеть в Ваш портфель торговых роботов. И зарабатывайте еще больше и еще стабильнее.

				+tr('Я уже зарабатываю  с помощью других технологий Владимира Чамина', 4)
					p Сочетание циклических роботов, трендовых и нейросетевых обеспечит Вашему источнику дохода надежность, сравнимую с облигациями или банковскими депозитами, при доходности в 5-10 раз выше. 

					p Все стратегии будут абсолютно раскоррелированы между собой, даже если они торгуют на одном активе.

				+tr('Я практикующий трейдер, торгую вручную.', 5)
					p Лучшая возможность расширить горизонты своего трейдинга! Нейронная сеть способна находить в тысячи раз больше паттернов, чем Вы сможете разглядеть на графике глазами.

					p Если до этого момента Вы не доверяли торговым роботам, то пришло время присмотреться и поменять свое мнение. Они уже гораздо умнее Вас и способны разглядеть вход в сделку там, где его не разглядит ни один профессиональный трейдер!

				+tr('Я предпочитаю долгосрочные инвестиции, ищу возможности создания надежного пассивного дохода.', 6)
					p.strong Нейробот – один из лучших вариантов пассивного дохода. По сравнению с классическими инвестициями:
					ul
						li Доходность выше в 3-10 раз.
						li Просадки ниже в 2-6 раз.
						li Надежная защита депозита и фиксированные риски.
						li Большие возможности для диверсификации.
				+tr('Я управляю (планирую управлять) капиталом инвесторов.', 7)
					p Предложите Вашим инвесторам новый умный источник дохода, умеющий генерировать прибыль от 30% до 100% в год, при управляемой максимальной просадке от 10% до 30% и трехуровневой защите депозита.

					p Когда Вы покажете инвестору, как Вы управляете рисками с помощью Нейробота, высока вероятность, что он Вам даст еще больше денег в управление.

					p Управляйте капиталом Ваших инвесторов, друзей или близких с помощью Нейробота, приносите им новые деньги и забирайте себе часть прибыли.


	// end sLookingFor