mixin sLookingFor(data)
	// start sLookingFor
	+b.SECTION.sLookingFor.section#sLookingFor&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sLookingFor
				
			+e.row.row
	// end sLookingFor