mixin sForm()
	// start sForm
	+b.sForm.section#sForm&attributes(attributes)
		.container
			.text-center.mb-64
				h3 Не важно кто Вы, откуда и чем занимаетесь.
				p.text-secondary Если Вас интересует возможность создать автоматический источник дохода на финансовых рынках, Нейробот будет умным, надежным и прибыльным решением. 
			+form-wrap
				.h3 Введите Ваши данные, чтобы перейти к версиям участия и получить Нейробот прямо сегодня
				<div id="bf349" class="inbfrm v2">
					<div id="bf349_inner"> 
						<form id="bf349_form" action="//info-dvd.ru/bbm/order/price_table_null_tradingvisionpro/?bform_id=349" method="POST" accept-charset="windows-1251" onsubmit="return bf349.check();" >
							<input type="hidden" name="good_id" value="price_table_null_tradingvisionpro">
							<input type="hidden" name="bform_id" value="349">
							<input type="hidden" name="comment_author" value="">
							<input type="hidden" name="comment_text" value="">
							<input type="hidden" name="promocode" value="">
							<div class="input_line form-group ">
								label(for="fullname") Ваше имя
								<input name="fullname" type="text" class="text form-control" value="" placeholder="Введите" required="required"/>

							</div>
							<div class="input_line form-group ">
								label(for="phone")  Ваш номер телефона
								<input name="phone" type="text" class="text form-control" value="" placeholder="+7 (____)____-___-___" required="required"/>
							</div>
							<div class="input_line form-group ">
								label(for="email")  E-mail (необязательно)
								<input name="email" type="email" class="text form-control" value="" placeholder="sample@sample.com" required="required"/>
							</div>
							<div class="submit_line">
								<button type="submit" class="button btn btn-primary" name="submit" > Получить доступ к комплекту прямо сегодня </button>
							</div>
							<div class="privacy_agreement_block">
								<label>
									<input type="checkbox" class="form-check-input" name="oferta_warn" value="1" checked="checked" required="required"> <span class="ibfm_txt">Я согласен с условиями</span> <a href="javascript:void(0)" onclick="return window['bf349'].popup(`https://info-dvd.ru/bbm/../../oferta?popup=1`, `win`, 1050, 450); return false;">публичной оферты</a>
								</label>
							</div>
						</form>
					</div>
				</div>
				img(src="img/form-img.png", alt="").form-img
				script.
					window.setTimeout(function() {
						(function (d, w, src, r, c) {
							var rid = r.toString().substr(2);
							var n = d.getElementsByTagName("script")[0],s = d.createElement("script"),
								f = function () { n.parentNode.insertBefore(s, n); };
							var p=d.location.protocol;
							if (p!='http:' && p!='https:' && src.indexOf('//')==0){src='http:'+src}
							s.type = "text/javascript";
							s.async = true;
							s.src = src+(src.indexOf('?')==-1 ? '?' : '&')+'r='+rid;
							if (w.opera == "[object Opera]") {
								d.addEventListener("DOMContentLoaded", f, false);
							} else {
									f();
								}
							if (c) {
								s.addEventListener('load', function (e) {
									c(null, e);
								}, false);
							}
						})(document, window, "//info-dvd.ru/bbm/js/bbm_form.js", Math.random(), function(){
							window['bf349'] = new BbmFormMng({
								id: 'bf349',
								langs: {
									errors : {
										email_pattern: 'Введите корректный адрес электронной почты.',
										alphanumeric_pattern: 'Может содержать только маленькие английские буквы и цифры',
										phone_pattern: 'Некорректный формат телефона',
										zip_pattern: 'Некорректный формат почтового индекса',
										empty_field: 'Это поле необходимо заполнить.',
										min_limit: 'Укажите значение не меньше ',
										oferta_warn: 'Необходимо согласиться с условиями публичной оферты!'
									},
									processing: 'Обработка...'
								}, rules: {
									kupon:['alphanumeric'],
										phone:['phone', 'required'],
										email:['required', 'email'],
									fullname:['required']
								},
							phone_verification: false});
						});
					}, 0);
	// end sForm