mixin sProtect(data)
	// start sProtect
	+b.SECTION.sProtect.section#sProtect&attributes(attributes)
		.container
			+b.section-title
				h2 Как #[span Нейробот] защищает Ваши деньги от потерь?
				p Не существует вечно зарабатывающих торговых роботов. 
					br
					span.text-primary Нейробот – не исключение, но он позволяет:
			+e.row.row.justify-content-center.text-center
				mixin item(i,t)
					+b.col-12.col-md-6.col-lg-4
						+b.sProtect-item
							.icon-wrap
								img(src=`img/sProtect-${i}.svg`, alt='')
							p=t 
				+item(1, `Гарантированно защитить депозит от больших потерь`)
				+item(2, `Вовремя распознать сломавшегося торгового робота и отключить его от торгов до того, как он сольет всю заработанную прибыль`)
				+item(3, `Иметь бесконечный запас прибыльных торговых роботов на замену сломавшимся`)
			h3 #[span.text-primary В Нейроботе реализована авторская технология Владимира Чамина по управлению торговыми роботами.] Она комплексно защищает депозит от потерь и дает трейдеру железобетонную уверенность в сохранности накоплений.

			table
				mixin tr(t)
					tr
						td
							h4= t
						td
							block
				+tr(`Уровень защиты №1`)
					p.strong Авторский алгоритм управления портфелем торговых роботов на основе профит-фактора.

					p  Нейробот автоматически мониторит каждого робота в портфеле и предупредит Вас, если нужно отключить конкретного робота и заменить на нового. Вы получите уведомление в Телеграм.

				+tr(`Уровни защиты №2, №3, №4`)
					p.strong  Нейробот использует 3 уровня автоматической защиты капитала: риск на сделку, риск на стратегию и риск на депозит.

					p Каждый уровень риска настраивается в соответствии с планируемой доходностью и Вашим риск-профилем.
				+tr(`Уровень защиты №5.`)
					p.strong Встроенная защита от просадок.

					p Уникальная функция. Нейробот будет снижать сумму входа в сделку в неблагоприятные периоды на рынке, при приближении просадки к максимальному риску по депозиту, который Вы запланировали.
						br
						| Эффективность защиты зависит от размера депозита. Чем депозит больше, тем больше запас для снижения суммы входа в сделку, тем лучше и плавнее работает защита.
						br
						strong Вы можете запланировать риск от депозита и сделать так, что этот риск никогда не будет достигнут! Это дает широчайшие возможности.
			h3.mb-64 Нейронная сеть позволяет делать умные торговые стратегии. Но это не панацея против убытков и не Грааль. Поэтому в Нейроботе так много внимания уделено контролю рисков.
				br
				span.text-primary Тот, кто контролирует риск, тот контролирует прибыль.
			.text-secondary.mb-64
				p Полученные нейронные стратегии работают по принципу черного ящика – Вы никогда не поймете, как они открывают сделки и почему здесь была получена прибыль, а здесь убыток.

				p Но это черный ящик, который настраиваете Вы сами, на данных Вашего актива, который прошел 3 этапа тестирования и этап Вашего личного отбора, и который на 100% контролируется и управляется Вами для обеспечения надежности и защиты Ваших денег. 
			.text-center
				+b.btn.btn-primary(href='#') Мне нужен надежный автоматический источник дохода 
	// end sProtect