mixin sLearning(data)
	// start sLearning
	+b.SECTION.sLearning.section#sLearning&attributes(attributes)
		.container
			+b.section-title
				h2 Обучение и поддержка
				p #[span.text-primary В комплекте с Нейроботом] Вас ждут базовые видеоинструкции, продвинутое обучение и личная поддержка от автора-разработчика.
			+ddGroup
				+ddGroupItem('Видеокурс «Как обучить нейросеть, настроить торговую стратегию и запустить в торги первого робота?»','','3 модуля с видеоуроками:')
					p.fw-600 Подготовка.
					ul
						li Выбор актива для торговли, выбор капитала, цель по доходности, установка Metatrader 5, установка Neurobot. 
					p.fw-600 Обучение нейросети, создание и отбор стратегий.
					ul
						li Итог урока – Ваша собственная коллекция прибыльных торговых стратегий, готовая к торгам и настроенная на необходимую Вам доходность.
					p.fw-600 Запуск в торги и управление.
					ul
						li Настройка блока автоматического управления стратегией, подключение Telegram, создание виртуального сервера для бесперебойной торговли, запуск в торги, как дальше развивать работающий источник дохода.

				+ddGroupItem('Мастер-группа.','','6 онлайн-занятий с продвинутым обучением трейдингу с помощью Нейробота')
					.h4.text-primary Старт занятий в марте 2025, 2 занятия в месяц. 
						br
						| Доступ к записям и поддержка по обучению на весь срок лицензии.
					p.fw-600 Что будем делать на занятиях:
					ul
						li Будем знакомиться с продвинутыми нюансами настройки Нейробота.
						li Будем допиливать торговые стратегии с помощью фильтров и других настроек.
						li Будем подробно разбирать новые функции и обновления.
						li Будем настраивать риск-менеджмент и защиту депозита.
						li Разберемся, как реально получать запланированную доходность из года в год.
						li Будем учиться управлять портфелем торговых роботов в реальных рыночных условиях.
					p.fw-600 А самое главное, будем в прямом эфире генерировать стратегии для разных рынков:
					ul 
						li Фондовые индексы на примере индекса Nasdaq. 
						li Криптовалюты на примере фьючерсов на BTCUSDT и ETHUSDT.
						li Срочный рынок Московской Биржи на примере фьючерсов на доллар/рубль, евро/рубль, РТС и Сбербанк.
						li Форекс на примере валютных пар: EUR/USD, GBP/USD, USD/JPY, USD/CAD, AUD/USD, NZD/USD
						li Любые активы по Вашему желанию
				+ddGroupItem('Долгосрочная поддержка от автора-разработчика.','','У Вас совершенно точно будут возникать вопросы в течение всего срока использования Нейробота.')
					p.fw-600 На все Ваши вопросы, когда бы они у Вас ни появились, ответит лично Владимир Чамин.
					ul
						li Как автор-разработчик Нейробота, Владимир качественно проконсультирует Вас по любым нюансам работы с конструктором, а также учтет Ваши пожелания по дальнейшим обновлениям и новый функциям.
						li Как трейдер с 20-летним опытом, Владимир сможет дать профессиональный совет практически в любой рыночной ситуации.

			.section-footer.mb-64
				.h4.text-secondary Такая комплектация обучения и поддержки вместе с Нейроботом – Ваш эскалатор на вершину успеха в алгоритмическом трейдинге.
			.text-center
				a.btn.btn-primary(href='#') Получить доступ к комплекту прямо сегодня 
	// end sLearning