mixin sCharacteresticks(data)
	// start sCharacteresticks
	+b.SECTION.sCharacteresticks.section#sCharacteresticks&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Характеристики #[span Нейробота]
				
			table
				mixin tr(t)
					tr
						td
							h4!= t
						td
								block
				+tr(`Рынки:`)
					+e.inner
						.label Фьючерсы Мосбиржи
						.label Криптовалюты
						.label Форекс
						.label Индексы
						.label Акции
						.label Металлы
						| и т.д.
				+tr(`Реализованные  в&nbsp;Нейроботе функции`)
					ul
						li Модуль обучения нейросети с помощью генетического алгоритма.
						li Нейросеть – четырехслойный персептрон, 64 параметра.
						li Тройное тестирование при создании торговой стратегии.
						li Автоматическое создание торговых стратегий на основе нейросети.
							ol
								li Тест на этапе обучения нейронной сети.
								li Форвард-тест на данных, которые нейросеть не знала.
								li Валидация – симуляция реальной торговли на дополнительных данных.
						li Функция фильтрации сделок для усиления торговой стратегии: TrendX, antiTrendX.
						li Управление роботом по значению профит-фактора.
						li Телеграм-уведомления о сделках и событиях с роботами в портфеле.
						li Настраиваемые стоп и тейк-профит: фиксированный, скользящий, в пунктах, на основе ATR.
				+tr(`Управление рисками  и&nbsp;защита депозита`) 
					ul
						li Два метода управления капиталом:
							ol
								li фиксированный объем, 
								li риск на сделку
						li Функция защиты от глубоких просадок (компрессия просадки).
						li Три уровня защиты депозита:
							ol
								li риск на сделку;
								li риск на стратегию;
								li риск на депозит;
	// end sCharacteresticks