mixin sRealSlider(data)
	// start sRealSlider
	+b.SECTION.sRealSlider.section#sRealSlider&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sRealSlider
				
			+e.row.row
	// end sRealSlider