mixin sRoadMap(data)
	// start sRoadMap
	+b.SECTION.sRoadMap.section#sRoadMap&attributes(attributes)
		.container
			+b.section-title
				.h3 Колеблетесь с решением?
				h2 Дорожная карта развития #[span Нейробота]
			mixin item(text, date, status ) 
				+b.line(class= (status === true ? 'done' : '')) 
					+e.status
					+e.date(style= (status === true ? 'color: #3EFF78' : ''))= date
					+e.text= text
			.mb-64
				+item(`Создание возможности обучения в Metatrader 5 нейросети с 2 скрытыми слоями`,`Сделано`, true)
				+item(`Внедрение защиты от глубоких просадок и фильтров для усиления нейронной сети `,`Сделано`, true)
				+item(`Создание коллекции предобученных стратегий для Forex, фондовых индексов и BTCUSD `,`Сделано`, true)

				+e.border
					+e.label.h4 Мы сейчас здесь
				+item(`Добавление новых скрытых слоев в нейронную сеть для более качественного обучения`,`2 квартал 2025`)
				+item(`Добавление новых параметров на вход нейросети для поиска более сложных ценовых паттернов. `,`2 квартал 2025`)
				+item(`Большое исследование: создание стратегий для валютных пар.`,`2 квартал 2025`)
				+item(`Добавление данных индикаторов на вход нейросети`,`3 квартал 2025`)
				+item(`Добавление новых фильтров для работы в паре с нейронной сетью`,`3 квартал 2025`)
				+item(`Большое исследование: создание стратегий для товарных рынков`,`3 квартал 2025`)

				+item(`Добавление обучения с подкреплением, чтобы нейронная сеть самообучалась в реальном времени`,`4 квартал 2025`)
				+item(`Добавление новых методов управления капиталом: нейросеть сама будет определять, каким обьемом торговать`,`4 квартал 2025`)
				+item(`Большое исследование: создание стратегий для криптовалют`,`4 квартал 2025`)

			.h3.text-center.mb-64 Нейробот будет прокачиваться

			+e.row.row.mb-64

				mixin item(i,t)
					.col-xl-3.col-lg-4.col-6
						+e.item
							.icon-wrap
								img(src=`img/road-map-icon-${i}.svg`, alt="")
							p!= t
				+item(1, `больше скрытых <br> слоев`)
				+item(2, `больше данных <br> на вход`)
				+item(3, `создание более прибыльных стратегий`)
			.text-center.mb-64
				.h3.text-primary И с каждым обновлением стоимость 
					br
					| Нейробота будет расти вместе с его ценностью.
				p.mb-64 Поэтому Ваша покупка сегодня – это еще и очень крутая инвестиция! 
					br
					| Инвестируйте сегодня в умный источник дохода, который со временем будет становиться все умнее и прибыльнее
				a.btn.btn-primary(href="#") Получить Нейробот сейчас! 

	// end sRoadMap