mixin sModern(data)
	// start sModern
	+b.SECTION.sModern.section#sModern&attributes(attributes)
		.container
			+b.section-title
				h2 Современные технологии умного алгоритмического трейдинга
				
			+e.slider--js.swiper.slider-auto-js
				.swiper-wrapper
					mixin item(i,t, p)
						+e.slide.swiper-slide
							+b.sModern-item.bg-wrap
								img(src=`img/modern-img-${i}.png`, alt="" lazy="loading").img-bg
								h4!= t
								p!= p
					+item(1, `Внутри Нейробота настоящая нейронная сеть с двумя скрытыми слоями. `,`Она хорошо распознает скрытые ценовые паттерны и сразу создает на их основе автоматическую торговую стратегию. Тип нейронной сети: многослойный персептрон из 4-х слоев, всего 63 параметра.`)

					+item(2, `Нейробот обучает нейронную сеть непосредственно на данных Вашего актива!`,`Никаких предобученных алгоритмов. Нейросеть будет настраивать свои веса и искать скрытые паттерны именно на Вашем активе. <br>Все происходит буквально в пару кликов мышки, Вам понадобится только Metatrader 5.`)

					+item(3, `Нейробот обучает сразу тысячи разных нейросетей. `,`После обучения используется алгоритм тройного тестирования, позволяющий отобрать самые прибыльные варианты, которые показывают лучшие результаты на незнакомых для нейросети данных`) 
					
					+item(4, `Уникальное сочетание классики трейдинга с новейшими технологиями.`,`Классические торговые стратегии работают уже более 100 лет и будут работать всегда, пока существуют финансовые рынки. Нейросети появились недавно и открыли для трейдеров недоступные ранее возможности.`)
			.section-footer
				h3.text-primary.text-center Фишка Нейробота: комбинация обоих подходов  в&nbsp;одной торговой стратегии.
			
			+e.slider--js.swiper.slider-auto-js
				.swiper-wrapper
					mixin item(t)
						+e.slide.swiper-slide
							+b.step-item
								h4!= t 
					+item('Нейронная сеть определяет скрытый паттерн и сигнализирует о входе в сделку.')
					
					+item('Классический трендовый фильтр выдает свое мнение о точке входа и либо разрешает открыть сделку, либо отбраковывает ее, как сделку против основной тенденции.')
			.text-center.section-footer
				h4 Нелинейный алгоритм открытия сделок + линейный фильтр, который часть сделок не пропускает.
					br
					|	Такой подход работает гораздо лучше каждого из них по отдельности!
				br
				h4.text-secondary Позвольте умным технологиям зарабатывать для Вас деньги!
				br
				a.btn.btn-primary(href="#sForm") Мне нужен нейросетевой источник дохода 
	// end sModern