mixin sRewies(data)
	// start sRewies
	+b.SECTION.sRewies.section#sRewies&attributes(attributes)
		.container
			+b.section-title.text-center
				h4.text-secondary Вот, что они говорят про разработки Владимира Чамина:

			+defSlider()
				- for (var i = 0; i < 3; i++) 
					//- +e.slide.swiper-slide(data-fancybox='modal-slider-rev' data-src=`img/st-review-${i}.png`): +img(`img/st-review-${i}.png`).res-i
					+e.slide.swiper-slide(data-fancybox='modal-slider-rev' data-src=`img/review.png`)
						img(src="img/review.png" width="709" height="553" alt="").res-i  
	// end sRewies