extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug 
include ../blocks/topLine/_topLine.pug
include ../blocks/footer/_footer.pug 

include ../blocks/sWhy/_sWhy.pug
include ../blocks/sRealSlider/_sRealSlider.pug
include ../blocks/sCreate/_sCreate.pug
include ../blocks/sModern/_sModern.pug
include ../blocks/sKey/_sKey.pug
include ../blocks/sCharacteresticks/_sCharacteresticks.pug
include ../blocks/sProfitability/_sProfitability.pug
include ../blocks/sProtect/_sProtect.pug
include ../blocks/sAuthor/_sAuthor.pug
include ../blocks/sRewies/_sRewies.pug
include ../blocks/sLearning/_sLearning.pug
include ../blocks/sLookingFor/_sLookingFor.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sFAQ/_sFAQ.pug
include ../blocks/sRoadMap/_sRoadMap.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+topLine
	main
		+icon("truck")
		//- iframe( src="https://kinescope.io/e2XNJwJpavG2tdvfcveMaD", width="900", height="500", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
		+headerBlock 
		+sWhy
		+sRealSlider
		+sCreate
		+sModern
		+sKey
		+sCharacteresticks
		+sProfitability
		+sProtect
		+sAuthor
		+sRewies
		+sLearning
		+sLookingFor
		+sForm()
		+sFAQ
		+sRoadMap
		
	+footer