mixin sWhy(data)
	// start sWhy
	+b.SECTION.sWhy.section#sWhy&attributes(attributes)
		.container
			+b.section-title
				h2 Зачем нужна #[span нейросеть]  в&nbsp;трейдинге?
				p.text-primary Что может делать нейронная сеть, чего нельзя сделать классическими методами трейдинга?
			+e.frame-wrap
				+e.frame
					+img("img/frame-left.png")
					p Нейронная сеть отлично справляется с задачей поиска ценовых паттернов.
			+e.text
				p Трейдеры широко используют различные графические, свечные, технические и другие паттерны, основанные на поведении цены.

				p Фракталы, свечи доджи, ценовые уровни, фигура голова и плечи – это все примеры визуальных ценовых паттернов. Их можно разглядеть на графике.

				p: strong Паттернов, которые не видны глазу – в тысячи раз больше, чем тех, которые трейдеры используют в ручной торговле!

				p Нейросети способны находить такие скрытые паттерны и распознавать их в реальном времени.

	// end sWhy