mixin sProfitability(data)
	// start sProfitability
	+b.SECTION.sProfitability.section#sProfitability&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sProfitability
				
			+e.row.row
	// end sProfitability