// start .sAuthor
.sAuthor {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	.container {
		position: relative;
		z-index: 2;
		&::after,
		&::before {
			/* Ellipse 35 */
			content: "";
			z-index: -1;
			position: absolute;
			width: 792.03px;
			height: 792.03px;
			left: -564.78px;
			top: 400px;

			background: #6346e4;
			filter: blur(445px);
		}

		&::after {
			left: auto;
			right: -500px;
			top: -200px;
		}
	}

	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__frame {
		/* Frame 187 */

		/* linear */
		background: linear-gradient(180deg, #6346e4 0%, #6c3e9d 100%);
		border-radius: 19px;
		position: relative;
		z-index: 2;
		padding: rem(40);
		padding-bottom: rem(500);
		@include media-breakpoint-up(lg) {
			padding-bottom: rem(40);
		}
	}
	img {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: -1;
		@include media-breakpoint-up(xxl) {
			max-width: 70%;
			max-height: none;
		}
		@include media-breakpoint-up(lg) {
			max-width: 65%;
			max-height: 100%;
		}
		max-height: rem(600);
		max-width: 95%;
	}
	ul {
		max-width: rem(580);
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 2;
		li {
			position: relative;
			list-style: none;
			border-bottom: 1px solid rgba($primary, 0.5);
			padding: rem(16) rem(40);
			padding-right: 0;
			&::before {
				content: url(../img/marker2.svg);
				top: rem(2);
				position: absolute;
				transform: translateY(10px);
				left: 0;
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAuthor
