mixin sAuthor(data)
	// start sAuthor
	+b.SECTION.sAuthor.section#sAuthor&attributes(attributes)
		.container
			+e.frame.mb-64
				div
					+img(`img/author-shadow.png`)
					+img(`img/author.png`)
				p.fw-600 Автор-разработчик Нейробота
				h2 Владимир Чамин
				ul
					li Алгоритмический трейдер и управляющий, в трейдинге с 2003 года
					li Разработчик технологий для упрощения автоматического трейдинга: Neurobot, Autotrend, TradingVision.PRO, Cyclon. Согласно опросу, 80% учеников заявили, что бросили бы трейдинг, если бы не получили доступ к одной из этих технологий.
					li В кризисном 2014 году установил личный рекорд доходности в автоматическом трейдинге: +253% прибыли к депозиту.
					li 5 учеников Владимира профессионально управляют капиталом инвесторов.
					li 11 лет руководил офисом Альпари в Екатеринбурге, знает индустрию трейдинга изнутри.
					li Учился у лучших мировых алгоритмических трейдеров: Томас Ниснедал (Чехия), Кевин Дейви (США), Эрнест Чан (США), Андреас Е. Кленоу (Швейцария), Том Бассо (США).
			.row
				p.col-lg-6 В своих разработках Владимир всегда ставит главную цель – сделать процесс получения дохода в трейдинге как можно более простым, комфортным и надежным.
				p.col-lg-6 А благодаря 20-летнему опыту Владимира, его ученики всегда получают самые нужные знания – только то, что работает и стабильно приносит деньги.
	// end sAuthor