mixin sCreate(data)
	// start sCreate
	+b.SECTION.sCreate.section#sCreate&attributes(attributes)
		.container
			+b.section-title
				h2 Создавайте #[span умных] торговых роботов в неограниченном количестве с помощью #[span Нейробота!]
				p Нейробот – это: 
			+e.slider.slider-auto-js.swiper
				.swiper-wrapper
					+e.item.swiper-slide Cоветник для торговой платформы  Metatrader 5
					+e.item.swiper-slide Конструктор нейросетевых торговых стратегий
					+e.item.swiper-slide  Автоматизированный пункт управления портфелем нейросетевых торговых роботов
			+e.frame-wrap
				+e.frame
					img(src="img/frame2-img.png", alt="").d-none.d-lg-block
					h3  Нейробот – авторская разработка Владимира Чамина для создания умного источника дохода
					p Создан, чтобы Вы могли быстро обучить нейронную сеть для любого актива.
			h3 Нейробот решит эти задачи в несколько кликов мышки:
			br
			ul
				li Одним разом обучит десятки тысяч нейронных сетей на ценовых данных любого актива.
				li Протестирует каждую из них на незнакомых данных и поможет выбрать лучшие.
				li Создаст торговую стратегию из обученной нейросети и автоматически подберет для нее оптимальные параметры
				li Даст возможность тонкой донастройки параметров стратегии для ее усиления
				li Запустит в автоматические торги портфель роботов с разными нейросетями внутри
				li Будет мониторить каждого робота в отдельности и предупредит Вас, если какой-то из них начнет ломаться из-за изменившегося рынка
				li Обеспечит надежность и защитит депозит от слива и глубоких просадок
			.section-footer
				p Нейробот – умный помощник, который делает за Вас 90% работы по созданию автоматического источника дохода.
				a.btn.btn-primary(href="#sForm") Жмите, чтобы получить Нейробот прямо сейчас 
			
	// end sCreate